
.loader {
width: fit-content;
font-size: var(--text-6xl);
font-weight: var(--font-weight-semibold);
font-family: system-ui, sans-serif;
-webkit-text-stroke: 1px var(--foreground);
color: transparent;
-webkit-text-fill-color: transparent;
background: conic-gradient(var(--foreground) 0 0) 0 / 0% 100% no-repeat;
-webkit-background-clip: text;
background-clip: text;
letter-spacing: var(--tracking-wide);
animation: backgroundFill 1s linear infinite;
}
@keyframes backgroundFill {
to {
    background-size: 120% 100%;
}
}


.fadeIn {
animation: fadeIn 150ms ease-in-out;
}
@keyframes fadeIn {
0% {
    opacity: 0.5;
}
100% {
    opacity: 1;
}
}

@utility pressable {
  @apply transition-transform will-change-transform active:scale-(--scale-pressed) data-pressed:scale-(--scale-pressed);
}