.carousel__container {
  display: flex;
  touch-action: pan-y pinch-zoom;
}

.carousel__dots {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  margin-right: calc((2.6rem - 1.4rem) / 2 * -1);
}
.carousel__dot {
  -webkit-tap-highlight-color: rgba(var(230, 230, 230), 0.5);
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  touch-action: manipulation;
  display: inline-flex;
  text-decoration: none;
  cursor: pointer;
  border: 0;
  padding: 0;
  margin: 0;
  width: 1rem;
  height: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel__dot:after {
  border-radius: 50%;
  width: 0.5rem;
  height: 0.5rem;
  display: flex;
  align-items: center;
  content: "";
  background-color: #d1d5db;
}
.carousel__dot--selected:after {
  background-color: #6b7280;
  width: 0.5rem;
  height: 0.5rem;
}
