@import 'tailwindcss';
@import "tw-animate-css";
@import "shadcn/tailwind.css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-heading: var(--font-sans);
  --font-sans: var(--font-sans);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --color-foreground: var(--foreground);
  --color-background: var(--background);
  --radius-sm: calc(var(--radius) * 0.6);
  --radius-md: calc(var(--radius) * 0.8);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) * 1.4);
  --radius-2xl: calc(var(--radius) * 1.8);
  --radius-3xl: calc(var(--radius) * 2.2);
  --radius-4xl: calc(var(--radius) * 2.6);
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.188 0.013 248.5);
    --card: oklch(0.978 0.001 197.1);
    --card-foreground: oklch(0.188 0.013 248.5);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.188 0.013 248.5);
    --primary: oklch(0.672 0.161 245);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.188 0.013 248.5);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.938 0.001 286.4);
    --muted-foreground: oklch(0.46 0.006 286.2);
    --accent: oklch(0.939 0.017 250.8);
    --accent-foreground: oklch(0.672 0.161 245);
    --destructive: oklch(0.619 0.238 25.8);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.891 0.002 286.4);
    --input: oklch(1 0 0);
    --ring: oklch(0.682 0.158 243.4);
    --chart-1: oklch(0.672 0.161 245);
    --chart-2: oklch(0.691 0.155 160.3);
    --chart-3: oklch(0.821 0.16 82.5);
    --chart-4: oklch(0.706 0.182 151.7);
    --chart-5: oklch(0.592 0.219 10.6);
    --radius: 0.625rem;
    --sidebar: oklch(0.978 0.001 197.1);
    --sidebar-foreground: oklch(0.188 0.013 248.5);
    --sidebar-primary: oklch(0.672 0.161 245);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.939 0.017 250.8);
    --sidebar-accent-foreground: oklch(0.672 0.161 245);
    --sidebar-border: oklch(0.927 0.01 238.5);
    --sidebar-ring: oklch(0.682 0.158 243.4);
  }

  .dark {
    --background: oklch(0.188 0.007 274.6);
    --foreground: oklch(0.933 0.003 228.8);
    --card: oklch(0.251 0.011 274.5);
    --card-foreground: oklch(0.885 0 0);
    --popover: oklch(0 0 0);
    --popover-foreground: oklch(0.933 0.003 228.8);
    --primary: oklch(0.669 0.161 245);
    --primary-foreground: oklch(1 0 0);
    --secondary: oklch(0.962 0.003 219.5);
    --secondary-foreground: oklch(0.188 0.013 248.5);
    --muted: oklch(0.341 0 0);
    --muted-foreground: oklch(0.7 0.006 247.9);
    --accent: oklch(0.36 0.078 245.5);
    --accent-foreground: oklch(0.838 0.08 237.7);
    --destructive: oklch(0.619 0.238 25.8);
    --destructive-foreground: oklch(1 0 0);
    --border: oklch(0.399 0 0);
    --input: oklch(0.188 0.007 274.6);
    --ring: oklch(0.682 0.158 243.4);
    --chart-1: oklch(0.672 0.161 245);
    --chart-2: oklch(0.691 0.155 160.3);
    --chart-3: oklch(0.821 0.16 82.5);
    --chart-4: oklch(0.706 0.182 151.7);
    --chart-5: oklch(0.592 0.219 10.6);
    --sidebar: oklch(0.251 0.011 274.5);
    --sidebar-foreground: oklch(0.885 0 0);
    --sidebar-primary: oklch(0.682 0.158 243.4);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.36 0.078 245.5);
    --sidebar-accent-foreground: oklch(0.838 0.08 237.7);
    --sidebar-border: oklch(0.38 0.022 240.6);
    --sidebar-ring: oklch(0.682 0.158 243.4);
  }

  .theme-workout {
    --background: oklch(1 0 0);
    --foreground: oklch(0.188 0.013 248.5);
    --card: oklch(0.978 0.001 197.1);
    --card-foreground: oklch(0.188 0.013 248.5);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.188 0.013 248.5);
    --primary: oklch(0.877 0.18 96.1);
    --primary-foreground: oklch(0.216 0 0);
    --secondary: oklch(0.188 0.013 248.5);
    --secondary-foreground: oklch(1 0 0);
    --muted: oklch(0.938 0.001 286.4);
    --muted-foreground: oklch(0.46 0.006 286.2);
    --accent: oklch(0.939 0.017 250.8);
    --accent-foreground: oklch(0.672 0.161 245);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  html {
    @apply font-sans;
  }
  /* Custom */
  h1,
  h2 {
    @apply font-semibold tracking-wide;
  }
  h1 {
    @apply text-2xl;
  }
  h2 {
    @apply text-xl;
  }
}


